body {
	background-attachment: fixed;
	background-size:cover;
	background-image:
		url("https://repository-images.githubusercontent.com/201763429/30616780-bd1a-11e9-840c-edafb61c8f99");	
}

.error{
	color:red;
	font-family: auto;
    font-size: 15px;
}



